.up786userPage {
    width: 80vw;
}

.up786userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin: 10px  0;
    padding: 10px;
}

.up786userAvatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    box-shadow: 0 2px 20px var(--ss-text);
    box-shadow: 0 2px 20px var(--ss-text);
    -webkit-box-shadow: 0 2px 20px var(--ss-text);
    -moz-box-shadow: 0 2px 20px var(--ss-text);
}

.up786userDetailsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;

}

.up786userName {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0;
}

.up786userDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.up786userFullName {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
}

.up786userPostCount, .up786userFollowersCount, .up786userFollowingCount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.up786value {
    font-weight: bold;
    margin-right: 5px;
}

.up786userBio, .up786bioHeading {
    margin: 2px 0;
    font-size: 14px;
}

.up786userPhotosFormat {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.up786format {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--ss-postImage-border);
    height: 30px;
    width: 48%;
    cursor: pointer;
    padding: 5px;
}

.up786formatEnabled {
    font-weight: bold;
    border-width: 2px;
}

@media (max-width: 640px) {
    .up786userName {
        font-size: 16px;
    }

    .up786userPostCount, .up786userFollowersCount, .up786userFollowingCount {
        flex-direction: column;
        align-items: flex-start;
    }

    .up786userDetailsWrapper {
        min-width: 250px;
    }
}